{% extends "base.html" %} {% block title %}The STUFFS{% endblock %}
{% block banner%}{% endblock%}
{% block content%}
<div class="container">
  <p class="mt-2" style="font-size: 40px;">How this will work:</p>
  <p style="font-size: 24px;">If you'd like to speak with me formaly/professionally, click on the button and you'll redirected to my mailing service.</p>
  <p style="font-size: 24px;">That's security purpose (as if I knew s*** on how make a secure site...)</p>
  <p style="font-size: 24px;">Now, if you'd like to speak about anything else, click on the other button and you'll redirected to another mailing service.</p>
  <p style="font-size: 24px;">They don't have many difference from one another ... I just want it to be like this... don't complain...</p>
</div>
{% endblock %}