{% extends "base.html" %}
{% block content%}
<div class="p-4 rounded ts-box-animate mb-4">
    <div class="ts-svg-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="currentColor" class="bi bi-code-slash"
            viewBox="0 0 16 16">
            <path
                d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z" />
        </svg>
    </div>
    <div class="col-md-8 px-0 d-flex flex-column">
        <h1 class=""><b>PRO</b>JECTS</h1>
        <p class="lead my-3">Here you'll be able to take a look at ALL projects alongside a brieff description of
            it's
            functionalities.</p>
        <a href="/sandbox" class="" style="color: #343a40; letter-spacing: 2px; font-weight: 100;">
            <p class="lead mb-0">Go to <b class="font-weight-bold">\PRO</b>JECTS</p>
        </a>
    </div>
</div>
<div class="p-4 rounded ts-box-animate mb-4">
    <div class="ts-svg-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="200" height="200" fill="currentColor" class="bi bi-terminal"
            viewBox="0 0 16 16">
            <path
                d="M6 9a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3A.5.5 0 0 1 6 9zM3.854 4.146a.5.5 0 1 0-.708.708L4.793 6.5 3.146 8.146a.5.5 0 1 0 .708.708l2-2a.5.5 0 0 0 0-.708l-2-2z" />
            <path
                d="M2 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H2zm12 1a1 1 0 0 1 1 1v10a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V3a1 1 0 0 1 1-1h12z" />
        </svg>
    </div>
    <div class="col-md-8 px-0 d-flex flex-column">
        <h1 class="">SAND<b>BOX</b></h1>
        <p class="lead my-3">Here you'll be able to take a look at some of my projects and perhaps interact
            and play
            with some of them</p>
        <a href="/sandbox" class="" style="color: #343a40; letter-spacing: 2px; font-weight: 100;">
            <p class="lead mb-0">Go to \SAND<b class="font-weight-bold">BOX</b></p>
        </a>
    </div>
</div>
<p class="mt-2" style="font-size: 40px;">Waaaaait... How did you find this page?</p>
<p style="font-size: 24px;">I didn't "develop" this to be seachable nor "actually" be seen...</p>
<p style="font-size: 24px;">Well, since you're here, feel free to navigate around this project that lists and serves
    as a sandbox playground
    for
    other stuffs and ideas to break... I mean... to improve this piece of... stuff... yeah.</p>
<p class="mt-5" style="font-size: 40px;">What the f*** is this site & Why tho?</p>
<p style="font-size: 24px;">At the beginning of 2021 I was extremely bored, so I decided to play practice
    my abilities as a
    guitarist, and also some programming stuff.</p>
<p style="font-size: 24px;">I noticed that I had a few useless stand alone projects that server no propose other
    than show what a preacticed
    at
    one time. So I thought: Why not put everything I made in a web page? Then I discarted that dumb idea and went
    back
    to playing guitar.</p>
<p style="font-size: 24px;">But later I start seeing some Python, some Flask and then I said "ah, whatever... let's
    make some stuff"
    And so this STUFF was "born"... don't judge me.</p>



{% endblock %}