{% extends "base.html" %}
{% block moar_meta %}
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<link rel="stylesheet" href="../static/css/sand.css/?version=3.2">
{% endblock %}
{% block title %}Sandbox - {% endblock %}
{% block content%}

<div class="card m-0">
    <h3 class="m-2">SAND<b>BOX</b></h3>
    <div class="card-header">
        <ul class="nav nav-tabs nav-tabs-neutral justify-content-center" role="tablist">
            <li class="nav-item">
                <a class="nav-link leng_c" data-toggle="tab" href="#leng_c" role="tab">C</a>
            </li>
            <li class="nav-item">
                <a class="nav-link leng_cpp" data-toggle="tab" href="#leng_cpp" role="tab">C++</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active leng_py" data-toggle="tab" href="#leng_py" role="tab">Python</a>
            </li>
            <li class="nav-item">
                <a class="nav-link leng_java" data-toggle="tab" href="#leng_java" role="tab">Java</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="tab-content">
            <div class="tab-pane" id="leng_c" role="tabpanel">
                <img src="../static/img/shared/Work-In-Progress.png" alt="" style="height: auto; width:100%;">
            </div>
            <div class="tab-pane" id="leng_cpp" role="tabpanel">
                <img src="../static/img/shared/Work-In-Progress.png" alt="" style="height: auto; width:100%;">
            </div>
            <div class="tab-pane active" id="leng_py" role="tabpanel">
                <div class="container row m-0 p-0 ">
                    <!-- Python menu -->
                    <div class="col-md-3 py_menu" style="color: #fff;">
                        <ul>
                            <li class="py_code_link">
                                Password generator
                            </li>
                            <li class="py_code_link">
                                Brazilian documents
                                <ul>
                                    <li>CPF</li>
                                    <li>RG</li>
                                    <li>CNPJ</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col py_container">
                        <!-- Python password generator -->
                        <div class="container row p-0 m-0 " id="password-generator-python">
                            <div class="py_form col m-0">
                                <div class="form-check m-2">
                                    <input class="form-check-input" type="checkbox" value=1 id="PW_w_LC" name="PW_w_LC"
                                        checked>
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Lower Case
                                    </label>
                                </div>
                                <div class="form-check m-2">
                                    <input class="form-check-input" type="checkbox" value=1 id="PW_w_UC" name="PW_w_UC"
                                        checked>
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Uper Case
                                    </label>
                                </div>
                                <div class="form-check m-2">
                                    <input class="form-check-input" type="checkbox" value=1 id="PW_w_NC" name="PW_w_NC"
                                        checked>
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Numeric
                                    </label>
                                </div>
                                <div class="form-check m-2">
                                    <input class="form-check-input" type="checkbox" value=1 id="PW_w_SC" name="PW_w_SC"
                                        checked>
                                    <label class="form-check-label" for="flexCheckChecked">
                                        Simbols
                                    </label>
                                </div>
                                <div class="form-group m-2">
                                    <label for="passwordLen" class="col-sm-2 form-label">Length</label>
                                    <div class="col">
                                        <input type="range" class="form-range" min="8" max="128" step="1" value="16"
                                            id="passwordLen" name="passwordLen">
                                    </div>
                                </div>
                                <div class="form-group m-2">
                                    <button class="btn btn-primary send-it" id="getPyPassword" name="getPyPassword"
                                        onclick="getPasswordGenPython()">Get
                                        password</button>
                                    <button class="btn btn-secondary" id="sourceToggle"
                                        onclick="{getPasswordGenSourcePython()}">
                                        Show/Hide source</button>
                                </div>
                                <textarea class="m-2 mr-2 " id="pswdOutput" type="text" placeholder="password"
                                    readonly></textarea>
                            </div>
                            <div class="collapse py_source col m-0 p-2" id="passwordGenSourcePython">
                                <pre class="m-0">
                            <code>
                                {{source_sauce}}
                            </code>
                        </pre>
                            </div>
                        </div>
                        <hr>
                        <!-- Brazilian documents generator and validator -->
                        <!-- CPF -->
                        <div class="container row p-0 m-0 " id="cpf-python ">
                            <div class="py_form col m-0">
                                <div class="form-group m-2">
                                    <label for="outputCPF" id="generateCPF">New CPF</label>
                                    <input type="text" class="form-control" placeholder="Output CPF code."
                                        id="outputCPF" name="cpf-out">

                                    <button class="btn btn-primary" id="getNewCPF" name="getNewCPF"
                                        onclick="getNewCPF_python()">New
                                        CPF</button>
                                </div>
                                <div class="form-group m-2">
                                    <input class="form-check-input" type="checkbox" value=1 id="formatedCPF"
                                        name="formatedCPF" checked>
                                    <span class="check"></span>
                                    <label class="form-check-label">
                                        Format it
                                    </label>
                                </div>
                                <div class="form-group m-2">
                                    <label for="InputCPF" id="validateCPF">Validate CPF</label>
                                    <label id="ValidationOutputCPF"></label>
                                    <input type="text" class="form-control" placeholder="Enter a code to validate."
                                        id="InputCPF" name="cpf">
                                    <button class="btn btn-primary" id="checkCPF" name="checkCPF"
                                        onclick="checkDocumentCPF_python()">Validate
                                        CPF</button>
                                    <button class="btn btn-secondary" id="sourceToggle"
                                        onclick="{getCPFSourcePython()}">
                                        Show/Hide source</button>
                                </div>
                            </div>
                            <div class="collapse py_source col m-0 p-2" id="DocumentCPFSourcePython">
                                <pre class="m-0"><code>{{source_sauce}}</code></pre>
                            </div>
                        </div>
                        <hr>
                        <!-- RG -->
                        <div class="container row p-0 m-0 " id="rg-python ">
                            <div class="py_form col m-0">
                                <div class="form-group m-2">
                                    <label for="outputCRG" id="generateRG">New RG</label>
                                    <input type="text" class="form-control" placeholder="Output RG code." id="outputRG"
                                        name="rg-out">

                                    <button class="btn btn-primary" id="getNewRG" name="getNewRG"
                                        onclick="getNewRG_python()">New
                                        RG</button>
                                </div>
                                <div class="form-group m-2">
                                    <input class="form-check-input" type="checkbox" value=1 id="formatedRG"
                                        name="formatedRG" checked>
                                    <span class="check"></span>
                                    <label class="form-check-label">
                                        Format it
                                    </label>
                                </div>
                                <div class="form-group m-2">
                                    <label for="InputRG" id="validateRG">Validate RG</label>
                                    <label id="ValidationOutputRG"></label>
                                    <input type="text" class="form-control" placeholder="Enter a code to validate."
                                        id="InputRG" name="rg">
                                    <button class="btn btn-primary" id="checkRG" name="checkRG"
                                        onclick="checkDocumentRG_python()">Validate
                                        RG</button>
                                    <button class="btn btn-secondary" id="sourceToggle" onclick="{getRGSourcePython()}">
                                        Show/Hide source</button>
                                </div>
                            </div>
                            <div class="collapse py_source col m-0 p-2" id="DocumentRGSourcePython">
                                <pre class="m-0"><code>{{source_sauce}}</code></pre>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="leng_java" role="tabpanel">
                <img src="../static/img/shared/Work-In-Progress.png" alt="" style="height: auto; width:100%;">
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="{{ url_for('static', filename='js/sandbox.js') }}"></script>

{% endblock %}