:root {
  --BACK_COLOUR: #ffffff;
}

body {
  background: var(--BACK_COLOUR);
  font-family: "IBM Plex", sans-serif;
}

.img_me {
  border-radius: 50%;
}

.nav-item:hover {
  text-shadow: 2px 2px 12px #b6b6b6;
  transition: 0.525s cubic-bezier(0.19, 0.9, 0.22, 1);
}

.btnbegin:hover {
  background-color: #808080;
  transition: 0.525s cubic-bezier(0.19, 0.9, 0.22, 1);
}

.btn2 {
  padding: 8px;
  background: none;
  border: 4px solid;
  color: #001c2f;
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  margin: 8px;
}

.btn2::before,
.btn2::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background: var(--BACK_COLOUR);
  transform: skewX(50deg);
  transition: 0.525s cubic-bezier(0.19, 0.9, 0.22, 1);
}

.btn2::before {
  top: -4px;
  left: 10%;
}

.btn2::after {
  bottom: -4px;
  right: 10%;
}

.btn2:hover::before {
  left: 80%;
}

.btn2:hover::after {
  right: 80%;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: rgba(19, 19, 19, 0.15);
  border-radius: 6px;
}

::-webkit-scrollbar-track {
  border-radius: 6;
  background: rgba(19, 19, 19, 0.05);
}

.ts-svg-icon {
  color: #ffffff;
  position: absolute;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.ts-box-animate {
  transition: 0.5s;
  background-color: #343a40;
  color: #343a40;
  position: relative;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
}

.ts-box-animate:hover {
  background-color: #ffffff;
  box-shadow: 0px 8px 18px #b6b6b6;
}
.ts-box-animate:hover .ts-svg-icon {
  color: #545454;
  left: calc(80% - 100px);
}
