:root {
  --BACK_COLOUR: #ffffff;
}

body {
  background: var(--BACK_COLOUR);
  font-family: "IBM Plex", sans-serif;  
}

.img_me{
  border-radius: 50%;
}

.nav-item:hover {
  text-shadow: 2px 2px 12px #b6b6b6;
  transition: 0.525s cubic-bezier(0.19, 0.9, 0.22, 1);
}

.btnbegin:hover{
  background-color: #808080;
  transition: 0.525s cubic-bezier(0.19, 0.9, 0.22, 1);
}

.btn2 {padding: 8px;
  background: none;
  border: 4px solid;
  color: #001c2f;
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  margin: 8px;
}

.btn2::before,
.btn2::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 4px;
  background: var(--BACK_COLOUR);
  transform: skewX(50deg);
  transition: 0.525s cubic-bezier(0.19, 0.9, 0.22, 1);
}

.btn2::before {
  top: -4px;
  left: 10%;
}

.btn2::after {
  bottom: -4px;
  right: 10%;
}

.btn2:hover::before {
  left: 80%;
}

.btn2:hover::after {
  right: 80%;
}

::-webkit-scrollbar{
  width: 12px;
  background:rgba(19, 19, 19, 0.05)
}

::-webkit-scrollbar-thumb{
  background:rgba(19, 19, 19, 0.15);
  border-radius: 6px;
}