{% extends "base.html" %} {% block title %}Sobre{% endblock %} 
{% block content%}
<div class="persona">
    <!--img src="../static/img/about/me.jpg" alt="This is me!" class="rounded mx-auto d-block" style="border-radius:50% !important; filter: grayscale(100%); width: 250px; height: 250px;"-->
    <img src="../static/img/about/me.jpg" alt="This is me!" class="rounded mx-auto d-block" style="border-radius:50% !important; width: 250px; height: 250px;">
    <h1>Cesar Augusto Oliveira</h1>
</div>
<div class="curriculum">
    <div class="academic">
        <h2>Academic life</h2>
        <div class="uni">
            <h3>Graduation: Bachelors in Science - Computer Science</h3>
            <h4>Unicersidade Católica de Santos - Unisantos</h4>
        </div>
        <div class="future">

        </div>
    </div>
    <div class="professional">
        <div class="ibm"></div>
    </div>
    <div class="acomplishments">
        <div class="blue_exp"></div>
    </div>
    <div class="hobbies">
        <div class="music"></div>
        <div class="drawing"></div>
        <div class="games"></div>
    </div>
</div>

{% endblock %}
