{% extends "base.html" %} {% block title %}JTT{% endblock %} 
{% block content%}

    
    <div class="isblock sp">
      <button class="btn SP 7630" onclick="triggerJob(this);">SP 7630</button>
      <button class="btn SP 7631" onclick="triggerJob(this);">SP 7631</button>
      <button class="btn SP 7632" onclick="triggerJob(this);">SP 7632</button>
      <button class="btn SP 7633" onclick="triggerJob(this);">SP 7633</button>
    </div>
    <div class="isblock acm">
      <button class="btn ACM 7650" onclick="triggerJob(this);">ACM 7650</button>
      <button class="btn ACM 7660" onclick="triggerJob(this);">ACM 7660</button>
      <button class="btn ACM 7670" onclick="triggerJob(this);">ACM 7670</button>
      <button class="btn ACM 7671" onclick="triggerJob(this);">ACM 7671</button>
    </div>
    <div class="isblock avi">
      <button class="btn AVI 7660" onclick="triggerJob(this);">AVI 7660</button>
      <button class="btn AVI 7670" onclick="triggerJob(this);">AVI 7670</button>
      <button class="btn AVI 7680" onclick="triggerJob(this);">AVI 7680</button>
    </div>
    <div class="isblock uti">
      <button class="btn UTI 7600" onclick="triggerJob(this);">UTI 7600</button>
      <button class="btn UTI 7601" onclick="triggerJob(this);">UTI 7601</button>
      <button class="btn UTI 7602" onclick="triggerJob(this);">UTI 7602</button>
    </div>
    <div class="isblock tr">
      <button class="btn TR 7624" onclick="triggerJob(this);">TR 7624</button>
      <button class="btn TR 7625" onclick="triggerJob(this);">TR 7625</button>
    </div>
    <div class="isblock nuc">
      <button class="btn NUC 7600" onclick="triggerJob(this);">NUC 7600</button>
      <button class="btn NUC 7601" onclick="triggerJob(this);">NUC 7601</button>
    </div>
    <div class="isblock oil">
      <button class="btn OIL/HSE 7661" onclick="triggerJob(this);">OIL/HSE 7601</button>
    </div>
  <script src="../static/js/scripts.js"></script>

{% endblock %}
